.backgroud-image {
  background-image: url('https://lh3.googleusercontent.com/p/AF1QipOQAH_VTahf0VhqjxGwNo9iy1bOh97cfbQY0Rjp=s1360-w1360-h1020');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body{
    height: 50%;
    margin: 0;

  }

  .login-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: #4e4e4e;
  }

  .login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .btn-block {
    display: block;
    width: 100%;
    background-attachment: #4e4e4e;
}
.btn{
  background-attachment: #4e4e4e;
}